.border-radius( @radius: 3px ) {
	-webkit-border-radius: @radius;
 	   -moz-border-radius: @radius;
	        border-radius: @radius;		
}

* {
	margin: 0;
	padding: 0;
}

body {
	padding: 200px 600px;
}


//here goes the switcher
.super-switch-wrap {
    height: 22px;
    border: 1px solid black;
    float: left;
    background: #3D3D3D; 
	background: -moz-linear-gradient(top, #3D3D3D 0%, #595858 100%); 
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3D3D3D), color-stop(100%,#595858)); 
	color: white;
	font-family: Helvetica, Arial;
	font-size: 14px;
	text-shadow: 1px 1px 0px black;
    width: 75px;
    overflow: hidden;
    position: relative;

	.border-radius(4px);

	.label-wrap {
	    width: 1000px;
	    position: relative;
	    float: left;
		font-size: 14px;

		.true, .false {
		    display: inline-block;   
		    padding: 0 10px;
		    text-align: center;
		    position: relative;
			line-height: 22px;
			text-transform: uppercase;
			text-align: center;
		}
	
		.true {
		    padding: 0 25px 0 10px;   
		}
	
		.false {
		    padding: 0 10px 0 25px;   
		}
	}
	
	.knob {
	    width: 18px;
	    position: absolute;
	    left: 45px;
	    top: 0;
		bottom: 0;
		width: 30px;
	    padding: 0;
	    z-index: 999;
		cursor: pointer;
		background: #FFFFFF; 
		background: -moz-linear-gradient(top, #FFFFFF 0%, #C1C1C1 100%); 
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFFFFF), color-stop(100%,#C1C1C1)); 
	
	    .border-radius(4px); 
	}
}