* {
  margin: 0;
  padding: 0;
}
html {
  width: 100%;
}
body {
  font-family: Helvetica, Arial, sans-serif;
  width: 100%;
  position: relative;
  padding: 200px 0px;
  text-align: center;
  overflow-x: hidden;
  overflow-y: auto;
}
.note {
  font-size: 12px;
  color: grey;
}
#inside,
#outside,
#non-clickable,
#non-draggable {
  margin-bottom: 40px;
}
#github {
  color: white;
  right: -65px;
  height: 30px;
  top: 40px;
  position: absolute;
  text-decoration: none;
  width: 250px;
  opacity: 1;
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
#github span {
  background: #000;
  font-size: 14px;
  left: 0;
  position: absolute;
  text-align: center;
  width: 250px;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 1px 1px 10px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 1px 1px 10px;
  -o-box-shadow: rgba(0, 0, 0, 0.2) 1px 1px 10px;
  box-shadow: rgba(0, 0, 0, 0.2) 1px 1px 10px;
  padding: 5px 0;
  opacity: 1;
  -moz-transition: opacity linear 0.2s;
  -webkit-transition: opacity linear 0.2s;
  -o-transition: opacity linear 0.2s;
  transition: opacity linear 0.2s;
  -webkit-backface-visibility: hidden;
  -webkit-transition: all linear 0.2s;
}
#github span:last-child {
  background: #65BDFB;
  -webkit-transform: rotatex(180deg);
  -moz-transform: rotatex(180deg);
  opacity: 0;
}
#github:hover span:first-child {
  opacity: 0;
  -webkit-transform: rotatex(180deg);
  -moz-transform: rotatex(180deg);
}
#github:hover span:last-child {
  opacity: 1;
  -webkit-transform: rotatex(360deg);
  -moz-transform: rotatex(360deg);
}
.super-switch-wrap {
  height: 20px;
  border: 1px solid #595858;
  display: inline-block;
  vertical-align: bottom;
  background: #3D3D3D;
  background: -moz-linear-gradient(top, #3d3d3d 0%, #595858 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3d3d3d), color-stop(100%, #595858));
  background: -o-linear-gradient(top, #3d3d3d 0%, #595858 100%);
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 1px 1px 1px inset;
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 1px 1px 1px inset;
  box-shadow: rgba(0, 0, 0, 0.3) 1px 1px 1px inset;
  color: white;
  font-family: Helvetica, Arial;
  font-size: 14px;
  text-shadow: 1px 1px 0px black;
  width: 75px;
  overflow: hidden;
  position: relative;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
.super-switch-wrap .label-wrap {
  width: 1000px;
  position: absolute;
  float: left;
  font-size: 14px;
}
.super-switch-wrap .label-wrap .true, .super-switch-wrap .label-wrap .false {
  display: inline-block;
  padding: 0 10px;
  text-align: center;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  float: left;
}
.super-switch-wrap .label-wrap .true {
  padding: 0 25px 0 10px;
}
.super-switch-wrap .label-wrap .false {
  padding: 0 10px 0 25px;
}
.super-switch-wrap .knob {
  width: 18px;
  position: absolute;
  left: 45px;
  top: 0;
  height: 20px;
  width: 30px;
  padding: 0;
  z-index: 999;
  cursor: pointer;
  background: #FFFFFF;
  background: -moz-linear-gradient(top, #ffffff 0%, #c1c1c1 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #c1c1c1));
  background: -o-linear-gradient(top, #ffffff 0%, #c1c1c1 100%);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.super-switch-wrap .knob.ui-draggable-dragging, .super-switch-wrap .knob:active {
  background: #e6e6e6;
  background: -moz-linear-gradient(top, #e6e6e6 0%, #a8a8a8 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e6e6e6), color-stop(100%, #a8a8a8));
  background: -o-linear-gradient(top, #e6e6e6 0%, #a8a8a8 100%);
}
.super-switch-wrap.switch-labels-outside {
  height: 16px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  border-radius: 16px;
}
.super-switch-wrap.switch-labels-outside .knob {
  height: 16px;
  width: 20px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  border-radius: 16px;
}
.switch-label-true, .switch-label-false {
  cursor: pointer;
  color: #ccc;
}
.switch-label-true.active, .switch-label-false.active {
  color: #444;
}
