* {
  margin: 0;
  padding: 0;
}
body {
  padding: 200px 600px;
}
.super-switch-wrap {
  height: 22px;
  border: 1px solid black;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  float: left;
  background: #3D3D3D;
  /* old browsers */

  background: -moz-linear-gradient(top, #3d3d3d 0%, #595858 100%);
  /* firefox */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3d3d3d), color-stop(100%, #595858));
  /* webkit */

  color: white;
  font-family: Helvetica, Arial;
  width: 75px;
  overflow: hidden;
  position: relative;
}
.label-wrap {
  width: 1000px;
  position: relative;
  /*   outline: 1px solid red; */

  float: left;
}
.true, .false {
  display: inline-block;
  vertical-align: middle;
  padding: 0 10px;
  text-align: center;
  position: relative;
  line-height: 22px;
  text-transform: uppercase;
  text-align: center;
}
.true {
  padding: 0 25px 0 10px;
}
.false {
  padding: 0 10px 0 20px;
}
.knob {
  width: 18px;
  position: absolute;
  left: 45px;
  top: 0;
  bottom: 0;
  width: 30px;
  padding: 0;
  z-index: 999;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background: #FFFFFF;
  /* old browsers */

  background: -moz-linear-gradient(top, #ffffff 0%, #c1c1c1 100%);
  /* firefox */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #c1c1c1));
  /* webkit */

}
