* {
  margin: 0;
  padding: 0;
}
body {
  padding: 100px;
}
.super-switch-wrap {
  height: 22px;
  border: 1px solid black;
  -webkit-border-radius: 3px;
  padding: 0 2px;
  float: left;
  width: 60px;
  overflow: hidden;
  position: relative;
}
.label-wrap {
  width: 100px;
  position: relative;
  /*   outline: 1px solid red; */

  float: left;
}
.true, .false {
  display: inline-block;
  vertical-align: middle;
  padding: 0 10px;
  text-align: center;
  position: relative;
}
.true {
  padding: 0 10px 0 5px;
}
.false {
  padding: 0 5px 0 20px;
}
.knot {
  width: 18px;
  position: absolute;
  left: 40px;
  top: 3px;
  padding: 0;
  z-index: 999;
  height: 16px;
  -webkit-border-radius: 3px;
  background: #ccc;
  -webkit-box-shadow: 0px 0px 0px 2px black;
}
